.headerlogo {
    margin-left: 10px;
    margin-top: 10px;
    height: 60px;
    width: 90px;
    border: none;
    border-radius: 10px;
}

.headerh2 {
    margin-top: -50px;
    margin-left: 118px;
}

.header {
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #ecf0f1;
    height: 80px;
}

body {
    background-color: #dfe6e9;
    font-family: 'Courier New', Courier, monospace;
}

.medio {
    text-align: center;
}

.imagendelasmodalidades {
    margin: 0 auto;
    z-index: -1;
    text-align: center; /* Centrar el texto horizontalmente */
    position: relative; /* Asegurar que el posicionamiento absoluto del texto funcione correctamente */
}

.imagendelasmodalidades img {
    display: flex; /* Asegura que la imagen sea un bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen */
}



.mediohead {
    font-size: 18px;
    color: aliceblue;
    margin-left: 165px;
    position: absolute;
    top: 10em;
    z-index: -1;
}

/*//Button by Pradeepsaranbishnoi*/

.voltage-button {
    margin-top: 10px;
    margin-left: 380px;
    position: fixed;
}
  
  .voltage-button button {
    color: white;
    background: #0D1127;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5rem;
    border: 5px solid #5978F3;
    font-size: 1.2rem;
    line-height: 1em;
    letter-spacing: 0.075em;
    transition: background 0.3s;
  }
  
  .voltage-button button:hover {
    cursor: pointer;
    background: #0F1C53;
  }
  
  .voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {
    opacity: 1;
  }
  
  .voltage-button svg {
    display: block;
    position: absolute;
    top: -0.75em;
    left: -0.25em;
    width: calc(100% + 0.5em);
    height: calc(100% + 1.5em);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
    transition-delay: 0.1s;
  }
  
  .voltage-button svg path {
    stroke-dasharray: 100;
    filter: url("#glow");
  }
  
  .voltage-button svg path.line-1 {
    stroke: #f6de8d;
    stroke-dashoffset: 0;
    animation: spark-1 3s linear infinite;
  }
  
  .voltage-button svg path.line-2 {
    stroke: #6bfeff;
    stroke-dashoffset: 500;
    animation: spark-2 3s linear infinite;
  }
  
  .voltage-button .dots {
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.4s;
  }
  
  .voltage-button .dots .dot {
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
  }
  
  .voltage-button .dots .dot-1 {
    top: 0;
    left: 20%;
    animation: fly-up 3s linear infinite;
  }
  
  .voltage-button .dots .dot-2 {
    top: 0;
    left: 55%;
    animation: fly-up 3s linear infinite;
    animation-delay: 0.5s;
  }
  
  .voltage-button .dots .dot-3 {
    top: 0;
    left: 80%;
    animation: fly-up 3s linear infinite;
    animation-delay: 1s;
  }
  
  .voltage-button .dots .dot-4 {
    bottom: 0;
    left: 30%;
    animation: fly-down 3s linear infinite;
    animation-delay: 2.5s;
  }
  
  .voltage-button .dots .dot-5 {
    bottom: 0;
    left: 65%;
    animation: fly-down 3s linear infinite;
    animation-delay: 1.5s;
  }
  
  @keyframes spark-1 {
    to {
      stroke-dashoffset: -1000;
    }
  }
  
  @keyframes spark-2 {
    to {
      stroke-dashoffset: -500;
    }
  }
  
  @keyframes fly-up {
    0% {
      opacity: 0;
      transform: translateY(0) scale(0.2);
    }
  
    5% {
      opacity: 1;
      transform: translateY(-1.5rem) scale(0.4);
    }
  
    10%, 100% {
      opacity: 0;
      transform: translateY(-3rem) scale(0.2);
    }
  }
  
  @keyframes fly-down {
    0% {
      opacity: 0;
      transform: translateY(0) scale(0.2);
    }
  
    5% {
      opacity: 1;
      transform: translateY(1.5rem) scale(0.4);
    }
  
    10%, 100% {
      opacity: 0;
      transform: translateY(3rem) scale(0.2);
    }
  }
  


  .MOVILBLOQUED {
    display: none;
    position: fixed;
    background-color: #dfe6e9;
    color: black;
    backdrop-filter: blur(30px);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 100000;
  }


  .medio img{
    border: none;
    border-radius: 10px;
    border-top-left-radius: 50px;
    
  }


  .h3ip{
    position: fixed;
    margin-left: 750px;
    margin-top: 30px;
  }

  .botoncopiar {
    cursor: pointer;
    margin-left: 1100px;
    margin-top: 15px;
    position: fixed;
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
   }
   
   .botoncopiar span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   .botoncopiar:hover {
    background-color: #0071e2;
   }