body {
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    background-color: #2c3e50;
    color: azure;
}

li {
    color: aqua;
}

#34495e

.inicio {
    background-color:#e60202;
    border: 20px solid #ffffff;
    border-radius: 3px;
}

.volver {
    background-color:#34495e;
    border: 20px solid #34495e;
    border-radius: 3px;
    color: azure;
}

.cosas {
    position: fixed;
    background-color: #34495e;
    border: 10px solid #34495e;
    border-radius: 2px;
    margin-left: 20em;
    margin-top: -600px;
    height: 50em;
    width: 100em;
    text-align: center;
}

.title {
    font-size: 28px;
}

.tabla1 {
    width: 40em;
    border-radius: 20px;
    margin-top: 3em;
    border: 5px solid azure;
    margin-left: 500px;
}

tr, td{
    border-top: 2px solid azure;
    border-right: 2px solid azure;
}
.size {
    margin-top: 15px;
}

@media (max-width: 768px) {
    table {
        justify-content: center; /* Centra los elementos horizontalmente */
    }

    td, .size, table, tr, .tabla1, .title, .cosas, .volver, .inicio{
        width: 99%; /* Los elementos ocuparán todo el ancho en pantallas más pequeñas */
        margin-right: 0; /* No hay espacio entre elementos */
        margin-bottom: 20px; /* Espacio entre filas de elementos */
    }
}